<% include ../partials/header %>
    <div class="wrapper">
        <div class="page">
            <div class="container page-inner">
                <ol class="breadcrumb" style="padding-left: 1em;padding-right: 1em;padding-bottom:0.6em;padding-top:0.6em;">
                    <li class="breadcrumb-item" style="color: #c3c3c3;">
                        <a href="/free">자유게시판</a>
                    </li>
                    <li class="breadcrumb-item active" style="color: #eaeaea;"> #<%=post.id%> </li>
                </ol>
                <div class="page-section mt-2">
                    <div class="section-block mt-4"> 
                        <article class="feed">
                            <section class="feed-post card">
                                <header class="card-header card-header-fluid" id="main-streamer-panpage-header">
                                    <span class="btn-account" role="button">
                                        <span class="tile bg-primary tile-circle"><%= post.author ? post.author.nickname : "" %></span>
                                        <div class="account-summary">
                                            <p class="account-name" style="word-break: break-all;white-space: normal;"><%=post.title%></p>
                                            <p class="account-description"><%= post.author ? post.author.nickname : "" %> · <%= post.createdDate %> <%= post.createdTime %></p>
                                        </div>
                                    </span>
                                    <% if(isAuthenticated && currentUser.id == post.author.id){ %>
                                    <div class="dropdown align-self-start ml-auto">
                                        <button class="btn btn-reset text-muted" data-toggle="dropdown">
                                            <i class="fa fa-fw fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-arrow"></div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="/free/edit/<%=post.id%>" class="dropdown-item">수정</a>
                                            <form action="/free/delete/<%=post.id%>?_method=delete" method="post" id = "deleteFrm">
                                                <input type = "hidden" value = "free" name = "division">
                                            </form>
                                            <a href="#" id="deleteBtn" class="dropdown-item">삭제</a>
                                        </div>
                                    </div>
                                    <% } %> 
                                </header>
                                <div class="card-body" style="margin-left:2em;margin-right: 2em;">
                                    <span id="main-streamer-panpage-post-body" style="overflow:hidden;max-width: 100%;width: 100%;">
                                        <div class="align-middle mt-3 mb-3"><%-post.body%></div>
                                    </span>
                                </div>
                            </section>
                            <section class="feed-comments card">
                                <section role="log" class="conversations">
                                    <hr>
                                </section>
                            </section>
                        </article>
                    </div>
                    <hr>
                    <div class="section-block mt-4"> 
                        <section class="card card-fluid">
                            <header class="card-header">
                                <span class="row" style="align-items: center;">
                                    <a href="/free" class="mr-auto col-6 mt-2">
                                        <h6>
                                            <i class="far fa-comment-dots mr-2" style="color:#346cb0;"></i> 자유게시판 
                                        </h6>
                                    </a>
                                    <span class="text-right col align-middle main-body-section-more" style="font-size: 14px;" id="main-board-documents-header-more"></span>
                                    <span class="text-right col align-middle" style="font-size: 14px;vertical-align: middle;align-items: center; width:20px;max-width: 5em;">
                                        <button type="button" class="btn btn-outline-primary" style="font-size: 0.9em;padding-top: 0.4em;padding-bottom: 0.4em;padding-left: 0.6em;padding-right: 0.6em;" onclick="window.location.href='/free/create'">글쓰기</button>
                                    </span> 
                                </span>
                            </header>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group input-group-alt">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="oi oi-magnifying-glass"></span>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="제목 검색" value="<%=search_word%>" id="search_keyword" onkeyup="if(window.event.keyCode == 13) document.getElementById('search_button').click();"> 
                                        </div>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary" data-toggle="" id="search_button" onclick="fncSearch();">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="font-size: 14px;">
                                                <th style="overflow: auto;white-space: nowrap;" class="d-none d-md-table-cell"></th>
                                                <th style="min-width:320px;overflow: auto;white-space: nowrap;" class="d-none d-md-table-cell"> 제목 </th>
                                                <th style="overflow: auto;white-space: nowrap;" class="d-none d-md-table-cell"> 작성자 </th>
                                                <th style="overflow: auto;white-space: nowrap;" class="d-none d-md-table-cell"> 날짜 </th>
                                            </tr>
                                        </thead>
                                        <tbody  id="main-board-documents-tbody">
                                            <% if(posts == null || posts.length == 0){ %>
                                                <tr class="board-list-tr">
                                                    <td class="align-middle" colspan="4"> <h4 class="text-center">작성된 글이 없습니다. :) </h4> </td>
                                                </tr>
                                            <% } %>
                                            <% posts.forEach(function(p) {
                                                var ellipsisTitle = p.title;
                                                if(ellipsisTitle.length > 70){
                                                    ellipsisTitle = p.title.substring(0,70)+"...";
                                                }
                                            %>
                                                <tr class="board-list-tr" style="font-size: 13px;height:35px;">
                                                    <td class="align-middle d-none d-md-table-cell" style="color:#959595;"><%=p.id%></td>
                                                    <td class="d-none d-md-table-cell" style="max-width: 300px;white-space:nowrap; overflow: hidden;text-overflow:ellipsis;<%=post.id == p.id ? "font-weight:bold" : "" %>">
                                                        <a href="/free/<%=p.id%>?page=<%=page%>&search_word=<%=search_word%>" style="color:#333"><%=ellipsisTitle%></a>
                                                    </td>
                                                    <td class="align-middle d-none d-md-table-cell"><%= p.author ? p.author.nickname : "" %></td>
                                                    <td class="align-middle d-none d-md-table-cell"><%=p.createdDate%></td>
                                                    <td class="align-middle d-table-cell d-md-none ml-0 mr-0 pl-0 pr-0">
                                                        <div >
                                                            <p class="mb-2 mt-1" style="font-size: 14px;max-width: 270px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                <a href="/free/<%=p.id%>?page=<%=page%>&search_word=<%=search_word%>"style= "color: #333;<%=post.id == p.id ? "font-weight:bold" : "" %>"><%=ellipsisTitle%></a>
                                                            </p>
                                                            <p class="text-muted row mb-1" style="align-items:center;margin-left:0px;">
                                                                <span style="font-size: 12px;"><%= p.author ? p.author.nickname : "" %> | <%=p.createdDate%></span>
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            <tr class="board-list-tr">
                                                <td class="align-middle text-center mt-3 mb-3" colspan="6"> 
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination justify-content-center mt-4" id="main-board-documents-pagination">
                                    <li class="page-item <%if(page == 1){%>disabled<%}%>"> 
                                       <a href="/free?page=<%=page-1%>" class="page-link">
                                         <i class="fa fa-lg fa-angle-left"></i>
                                       </a>
                                     </li>
                                    <%
                                        var offset = 3;
                                        for(i = 1; i <= maxPage; i ++){
                                            if(i <= offset || i > maxPage-offset || (i >= page-(offset-1) && i <= page+(offset-1))){
                                            %>
                                                    <li class="page-item <%if(i===page){%>active<%}%>">
                                                        <a class="page-link" href="/free?page=<%=i%>"><%=i%></a>
                                                    </li>
                                            <%
                                            }else if(i == offset+1 || i == maxPage-offset){
                                    %>
                                                    ...
                                    <%
                                            }
                                        }
                                    %>
                                    <li class="page-item <%if(page == maxPage){%>disabled<%}%>"> 
                                       <a href="/free?page=<%=page+1%>" class="page-link">
                                         <i class="fa fa-lg fa-angle-right"></i>
                                       </a>
                                     </li>
                                </ul>
                            </div>
                        </section>
                    </div>
		        </div>
            </div>
        </div>
    </div>
    
<% include ../partials/footer %>
<script>
    $(function(){
       $("#deleteBtn").click(function(){
           if(confirm("게시글을 삭제하시겠습니까 ?") == true){
                $("#deleteFrm").submit();
            }
            else{
                return ;
            }
       }) ;
    });
    function fncSearch(){
        var search_word = $("#search_keyword").val();
        location.href='/free?search_word=' + search_word;
    }
</script>